<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="myCss/mainstylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta charset = "UTF-8">
    <title>Profile</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!--Custom Javascript for follow button-->
    <script src = "/link_js/profile.js"></script>

</head>
<body>
<div class = "wrapper" data-content = "<%=user.email%>">
    <!--SideBar-->
    <div id = "sidebar-wrapper">
        <ul class = "sidebar-nav">
            <a href="home" title="Home">
                <li><img src="/link_images/home.png" width="30%" height="30%"></li>
            </a>
            <a href="profile" title="Profile">
                <li class="active"><img src="/link_images/user.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_builder" title="Workout Builder">
                <li><img src="/link_images/one-dumbbell.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_search" title="Workout Search">
                <li><img src="/link_images/search.png" width="30%" height="30%"></li>
            </a>
            <a href="settings" title="Settings">
                <li><img src="/link_images/settings-gears.png" width="30%" height="30%"></li>
            </a>
        </ul>
    </div>

    <!--Profile details-->
    <div class = " container-fluid " id = "page-content-wrapper">

        <div class="container-fluid cardcontainer dropdown norm_posts row-eq-height">

            <!--Profile image and name-->
            <div class="col-sm-4 no_pad">
                <div class="col-sm-12 container_card center_text">
                    <img class="main-profile-picture" src="/link_images/user.png">
                    <div class = "main-name"><b><%=user.first_name + " " + user.last_name %></b></div>
                </div>
            </div>

            <!--About details-->
            <div class="col-sm-8 no_pad">
                <div class="col-sm-12 container_card template_padding">
                    <b> About me </b>
                        <hr>
                    <p>
                        <%=user.about%>

                    </p>

                    <hr>

                    <p> Quote of the day </p>

                    <p>
                        <i>
                            Strength does not come from winning. Your struggles develop your strengths. When you go through hardships and decide not to surrender, that is strength.
                            -Arnold schwarzenegger
                        </i>
                    </p>

                    <button type = "button" class =" btn btn-default btn_follow" data-content = <%=user.email%>> Follow </button>
                </div>
            </div>

        </div>

        <!--Follow details-->
        <!--<div class="container-fluid cardcontainer dropdown norm_posts row-eq-height">-->

            <!--<div class="col-sm-6 no_pad">-->
                <!--<div class="col-sm-12 container_card template_padding center_text">-->
                    <!--Followers: 10-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-6 no_pad">-->
                <!--<div class="col-sm-12 container_card template_padding center_text">-->
                    <!--Followers: <%=user.friends.length%>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--Workouts-->
        <div class = "container-fluid basic_card_scroll dropdown template_padding">
            <b class="title_text"> Workout plans </b>
            <div class="container-fluid scroll">
                <!--Insert content after this div-->
                <div class = "insert_after"> </div>
                <div class = "a col-xs-4 addWorkout">
                    <div class="col-sm-12 plus">
                        +
                    </div>
                </div>

            </div>
        </div>

        <!--Playlist-->
        <div class="container-fluid cardcontainer dropdown row-eq-height">

            <div class="col-sm-6 no_pad">
                <div class="col-sm-12 container_card template_padding2 fix">
                    <div class = "title_text2">
                        <b>Julian's playlist </b>
                    </div>
                    <iframe src="https://tools.applemusic.com/embed/v1/playlist/pl.u-JPj3tWmLe4b?country=au" height="530px" width="100%" frameborder="0"></iframe>
                </div>
            </div>

            <!--Profile updates-->
            <div class="col-sm-6 no_pad">
                <div class="col-sm-12 container_card_scrollable template_padding2 ">
                    <div class = "title_text2"> <b> Latest updates </b></div>
                        <div class = "insert_post_after"></div>


                </div>

            </div>

        </div>

    </div>
</div>
</body>
</html>